<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

    <title>Git Commands</title>
  </head>
  		  <link rel="stylesheet" href="style.css">
	<div class="navBar">
	<button class="testButton"> <a href="git.html"> Git</a></button>
	<button class="testButton"><a href="index.html"> Docker</a></button>
	<button class="testButton"> <a href="index.html"> Azure</a></button>
	<button class="testButton"> <a href="vi.html"> Vi</a></button>
	<button class="testButton"> <a href="linux.html"> Linux</a></button>
	<button class="testButton"> <a href="python.html"> Python</a></button>
	<button class="testButton"> <a href="aaa.html"> AAA</a></button>
	<button class="testButton"> <a href="PythonArticles.html"> OOP</a></button>
	<button class="testButton"> <a href="FacadeMethod.html"> Facade Method</a></button>
	</div> 
		<br> <
  <body>

    <h2> Useful Git Commands </h2>
	<li> <code>git add . </code>  <p> This commands allows you to add all current items you are working on into your commits </p> </li> 
	<li> <code>git add (fileNameHere) </code>  <p> This commands allows you to add current file you are working on into your commits </p> </li> 
	<li> <code>git status </code>  <p> This commands allows you to see which files you have changed and not added using the command above</p> </li> 
	<li> <code>git commit -m "what did you change here" </code>  <p> This commands will allow you once you added the files , to be able to save the changes you made so that later you can put your code on a Repo. The message is important because it will allow others who work on the same code to see why you made the changes and what it does to the program.</p> </li> 
	<li> <code>git pull origin (branch) </code>  <p> Before adding your code to the others you must make sure that others have not made the same changes on your code and files. Pulling will allow you to get the most up to date changes from the code. This may result in a merge conflict</p> </li> 
	<li> <code>git push origin (branch) </code>  <p> This allows you to finally add your code to both Repo and others when they pull. Your changes can now we be viewed on your Repo.</p> </li> 
	<li> <code>git branch (name) </code>  <p> This command will create a new branch of the current branch you are working on. It will NOT put you into that branch</p> </li> 
	<li> <code>git checkout (branch) </code>  <p> This command allows you to move from one branch to another branch</p> </li> 
	<br> <br>
	<button> <a href="landing.html"> Go Back</a></button>
	
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-kQtW33rZJAHjgefvhyyzcGF3C5TFyBQBA13V1RKPf4uH+bwyzQxZ6CmMZHmNBEfJ" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.min.js" integrity="sha384-PsUw7Xwds7x08Ew3exXhqzbhuEYmA2xnwc8BuD6SEr+UmEHlX8/MCltYEodzWA4u" crossorigin="anonymous"></script>
    -->
  </body>
</html>