<!DOCTYPE html>
<html>
<head>
<title>Python Tips</title>
</head>
	  <link rel="stylesheet" href="style.css">
	<div class="navBar">
	<button class="testButton"> <a href="git.html"> Git</a></button>
	<button class="testButton"><a href="index.html"> Docker</a></button>
	<button class="testButton"> <a href="index.html"> Azure</a></button>
	<button class="testButton"> <a href="vi.html"> Vi</a></button>
	<button class="testButton"> <a href="linux.html"> Linux</a></button>
	<button class="testButton"> <a href="python.html"> Python</a></button>
	<button class="testButton"> <a href="aaa.html"> AAA</a></button>
	<button class="testButton"> <a href="PythonArticles.html"> OOP</a></button>
	<button class="testButton"> <a href="FacadeMethod.html"> Facade Method</a></button>
	</div> 
<body>
<h1>Why do I need this? </h1>
<p> This will include tips on how to become a better programmer. While this is mostly for python programming, this is also usable for all languages on good tips.</p>
<p> Definitions (Factory) : It is a creational pattern that uses the factory method without the need to create an object of it </p>
<p> Definitions (Instantiation) : Create a copy of the class which inherit all variables and methods from the class it is inheriting</p>
<p> Definitions (Object) : An element of class which normally is an instance of a class </p>
<p> Definitions (Class) : It is a blue print of code which an object will create</p>
<p> Definitions (Namescape) : It is names which will refer to objects throughout your code</p>
<p> Definitions (Constructor) : The process in a code where you create an object </p>
<p> Definitions (Fixture) : This is sample data for testing your code and DB </p>
<p> Definition (Type Hint) : Indicates the type of a value within your code </p>
<p> Definitions (Type Case) : A type of naming style such as camel, snake, etc </p>
<p> Definitions (Unit Test) : A test which will test each class and function of your code</p>
<p> Definitions (Static) : This means that the function/class will be on throughout the life time</p>
<p> Definitions (Class Method) : These are methods which will each do a single function but in a class rather than instance </p>
<p> Definitions (Facade) : It is a design pattern which makes the complex code seem more simple </p>

<button> <a href="landing.html"> Go Back</a></button>
</body>
</html>